.caja {
     width: 1000px;
     height: 308px;
     display:flex;
     font-family: Noto Sans,Helvetica,Arial,sans-serif;
     color: #ffffff;
     text-align: center;
     margin: 30px auto;
    
}

.caja img {
    width: 500px;
    height: 308px;
}

.caja div {
    padding: 10px;
    margin: 30px auto; 
}
.caja p {
    font-size: 15px;
    padding: 0px 70px;
}   

#caja-1 {
    background-color: #1e3932;
}

#caja-2 {
    background-color: rgb(0, 68, 180);
}

#caja-3 {
    background-color: #d50032;
}

#caja-4 {
    background-color: #1e3932;
}   

#caja-5 {
    background-color: #d50032;
}